header > * { display: inline }

footer {
  font-size:    0.8em;
  line-height:  0.8em;
  color:        #D2D2D2;
}

.rss-icon {
  display:  inline;
	width:  40px;
	height:  40px;
}

.project-screenshot {
	width: 200px;
  border: 1px solid black;
}

.project-overview {
  min-height: 125px;
}