<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
		<link rel="alternate" title="Posty" href="/rss.xml" type="application/rss+xml" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>{{site.title}}</title>
        
        
        {% include google-analytics.html %}
    </head>
    <body>
        <div id="site-case">
            <div id="site-content">
                {% include header.html %}
                <div id="main-content" class="main-page">
                    {{content}}
                </div>
                {% include sidebar-default.html %}
                <div style="clear:both;"></div>
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
